.releases {
  padding: 0 2rem;
}

.releases h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--red);
}
.releases .content {
  display: flex;
}
.releases .card {
  margin-top: 1rem;
  background: var(--white);
  border-radius: 8px;
  padding: 1rem;
  width: 440px;
}

.releases .card .header {
  display: flex;
}

.releases .card .header img {
  margin-left: auto;
  width: 100px;
}

.card + .card {
  margin-left: 1rem;
}

.releases .card h2 {
  font-size: 1.2rem;
  font-weight: 700;
}

.releases .card p {
  font-size: 0.875rem;
  margin-bottom: 4rem;
}

.releases .card span {
  font-size: 1.25rem;
  color: var(--red);
  font-weight: 700;
}

.releases .card a {
  background: var(--red);
  border-radius: 8px;
  color: var(--white);
  font-size: 1rem;
  padding: 0.5rem;
  text-decoration: none;
}

.releases .card a:hover {
  filter: brightness(0.8);
}

.releases .card a svg {
  margin-left: 10px;
}

.releases .information {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 2rem;
}