.content {
  display: flex;
  align-items: center;

  background: var(--white);

  height: 5rem;
  margin: 2rem 2rem ;
  padding: 2rem;

  border-radius: 8px;
}

.content .status {
  display: flex;
  align-items: center;
}

.content .status {
  display: flex;
  align-items: center;

  font-size: 0.875rem;
  font-weight: 700;
  color: var(--text);
}

.content .status svg {
  margin-right: 0.5rem;
}

.content .time {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.content .time .timeData {
  font-size: 0.75rem;
  align-items: center;
  text-align: center;
  margin-left: 0.5rem;
}